body {
    background-image: url("../images/prism.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#instructions {
    background: #996633;
    border-radius: 15px;
}

#warning {
    background: #990000;
    border-radius: 15px;
}

#stats {
    font-size: 30px;
}